.jumbotron {
	background: url('../image/spring-2174750__340.png') center no-repeat;
 	background-size: cover;
 	height: 300px;
}

.hero-word {
	color: white;
	font-size: 3.5rem;
}

.header {
	
}

.footer {
	height: 30px;
	background-color: #666;
	color: white;
	display: flex;
	justify-content: center;
}